footer {
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

.social-icon {
  transition: transform 0.3s ease-in-out;
}

.social-icon:hover {
  transform: scale(1.2); 
}


@media (max-width: 768px) {
  footer {
    font-size: 14px;
  }
}
