






.about-left {
  color: #ffffff;
  font-size: 100px; 
  text-transform: uppercase;
}
.about-there {
  color: #ffffff;
  font-size: 100px; 
  text-transform: uppercase;
}
.my-info {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 20px; 
}

.my-word {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #ffffff; 
  line-height: 1.6;
  margin-bottom: 20px;
}




.design {
  color: rgb(255, 255, 255); 
  margin-bottom: 20px;
}
 .skills{
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  font-size: 200px;

 }

 @media (max-width: 767px) {
  .skills {
    font-size: 40px; 
  }
}


 .code{
  color: rgb(255, 255, 255);
  margin-bottom: 20px;

 }

