






.about-left {
  color: #ffffff;
  font-size: 100px; 
  text-transform: uppercase;
}
.about-there {
  color: #ffffff;
  font-size: 100px; 
  text-transform: uppercase;
}
.my-info {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 20px; 
}

.my-word {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #ffffff; 
  line-height: 1.6;
  margin-bottom: 20px;
}



/*
.box-front .html-icon,
.box-front .css-icon,
.box-front .sass-icon,
.box-front .js-icon {
  width: 20%;
  height: 20%;
  object-fit: cover;
}

.box-design .cinema,
.box-design .ai,
.box-design .pr,
.box-design .ps,
.box-design .af,
.box-design .id,
.box-design .xd,
.box-design .figma {
  width: 20%;
  height: 20%;
  object-fit: cover;
}





.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.box-front {
  width: 500px;
  height: 500px;
  border: 1px solid #cab4b400;
  text-align: center;
  line-height: 1.5; 
  background-color: rgba(136, 118, 118, 0);
  overflow: hidden;
}


.box-design {
  width: 500px;
  height: 500px;
  border: 1px solid #00000000;
  text-align: center;
  line-height: 1.5; 
  background-color: rgba(255, 255, 255, 0);
}


@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
}


*/


.design {
  color: green; 
  margin-bottom: 20px;
}
 .skills{
  color: rgb(255, 0, 0);
  margin-bottom: 20px;

 }
 .code{
  color: salmon;
  margin-bottom: 20px;

 }


 .designimages img {
  width: 10%;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease; /* Add transition for smooth animation */
}

.designimages img:hover {
  transform: scale(1.2); /* Zoom in on hover (adjust the scale factor as needed) */
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8)); /* Add a white glow effect (adjust values as needed) */
}

.codeimages img {
  width: 10%;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease; /* Add transition for smooth animation */
}

.codeimages img:hover {
  transform: scale(1.2); /* Zoom in on hover (adjust the scale factor as needed) */
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8)); /* Add a white glow effect (adjust values as needed) */
}

